.custom-header{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.custom-header > img{
  width: 3rem;
}

.custom-header > h1{
  font-weight: 400;
  margin: 0;
}